# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

# CA1510: Use primary constructor
[*.cs]
dotnet_diagnostic.IDE0290.severity = none

# CA1510: Use ArgumentNullException throw helper
[*.cs]
dotnet_diagnostic.CA1510.severity = none

# CA1707: Identifiers should not contain underscores
[Tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
